body {
	margin: 0px;
	padding: 0px;
	color: white;
	background: #000046;
	background: -webkit-linear-gradient(to right, #000046, #1CB5E0);
	background: linear-gradient(to right, #000046, #1CB5E0);
}

header {
	grid-area: header;
	text-align: center;
}

main {
	grid-area: main;
	display: grid;
	grid: auto-flow dense min-content / [line1] minmax(5em, max-content);
	grid-gap: 1rem;
}

footer {
	text-align: center;
	grid-area: footer;
}

#app {
	height: 100%;
	padding: 1rem;
}

fieldset#displayGames {
	overflow-y: scroll;
	height: 18rem;
	width: 600px;
	color: black;
	background: white;
	border-radius: 5px;
}

fieldset#displayGames>legend>span {
	background-color: #000;
	color: #fff;
	padding: 3px 6px;
}

fieldset#displayGames>legend>span#nbGames {
	background-color: #1CB5E0;
	display: inline-block;
	padding: 0.25em 0.4em;
	font-size: 75%;
	font-weight: 700;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: 0.25rem;
}

fieldset#displayGames>legend span#nbGames:empty {
	display: none;
}

.round-button {
	border: 2px solid black;
	border-radius: 5px;
	font-size: 1rem;
	text-align: center;
}

.round-button:hover {
	box-shadow: .15em .15em .1em #888888;
}