<!DOCTYPE html>
<html lang='fr'>

<head>
	<meta charset='UTF-8'>
	<meta name='viewport' content='width=device-width, initial-scale=1.0'>
	<meta http-equiv='X-UA-Compatible' content='ie=edge'>
	<link rel='stylesheet' href='styles/main.css'>
	<title>Safe-House</title>
</head>

<body>
	<header>
		<h1>
			Safe-House
		</h1>
	</header>
	<main id='app'>
	</main>
	<footer>Made with ♥ on Node.js</footer>
	<script type='text/javascript' src='scripts/customElements.js'></script>
	<script type='text/javascript' src='scripts/main.js'></script>
</body>

</html>